In [13]:
#pandas kütüphanesi import ediyoruz
#importing dependency  
import pandas as pd

In [16]:
#veriyi data frame aktarıyoruz
#Load ing datas from local according to 
df=pd.read_csv('Datas/Pantest.csv', index_col='il')

In [17]:
df

          sİcaklİk  hacim   kisi
il
ankara           5   1000  45000
maras           12    700  24000
konya           24    800  40000
sivas           11    600  22000
istanbul        12  20000  55000
İgdİr           45    500   7000
van             30    560   3500

In [24]:
#df['x ekseni']['y eksesi'] -- we get spesific transaction value from df
df['sİcaklİk']['konya']

24

In [25]:
df.hacim['van']

560

LOC ve İLOC  komutu ile erişim (0 dan başladığını unutma)
hem isimle 
hemde sayı değerleri kullanılanılabilir.

df.loc ['satır','sütun']

In [42]:
df.loc['istanbul','kisi']

55000

In [35]:
df.iloc[4,2]

55000

Bazı sütunları seçerek işlem yapma
çift köşeli parantez DATAFRAME e çevirme işlemi yapıyor

In [36]:
df_new=df[['kisi','hacim']]
df_new

           kisi  hacim
il
ankara    45000   1000
maras     24000    700
konya     40000    800
sivas     22000    600
istanbul  55000  20000
İgdİr      7000    500
van        3500    560

Belli aralıkta değer alma (Slicing and indexing a Series)

In [44]:
df_new['hacim'][1:5]  # 1 ile 5 aralığnı aldık

il
maras         700
konya         800
sivas         600
istanbul    20000
Name: hacim, dtype: int64

In [51]:
df_new['hacim'][1]  # Değerini almak istediğimiz şehir için

700

DATA FRAME slice lama

.loc[ : ,  :  ]  

birinci kısım tüm satırlar , yada seçmek istenilen satır başlangıç etiketi ve bitiş etiketi (bunlar arasındakileri alır) 
ikinci kısım tüm sütunlar yada belli satır ve sutun seçilebilir(seçilen sütünlar arasında kalan tüm sütunlar gelir).

.iloc[ : ,  :  ]   yukardaki işlemleri rakamsal olarak yapmak için kullanılır

In [54]:
df.loc[:,'hacim':'kisi']   #hacim ile kisi arasındaki tüm sütunları alır  df.iloc[:,1:3]

          hacim   kisi
il
ankara     1000  45000
maras       700  24000
konya       800  40000
sivas       600  22000
istanbul  20000  55000
İgdİr       500   7000
van         560   3500

In [55]:
df.loc['maras':'istanbul',:]  # maras istanbul aralığındakileri getirir   df.iloc[1:5, :]

          sİcaklİk  hacim   kisi
il
maras           12    700  24000
konya           24    800  40000
sivas           11    600  22000
istanbul        12  20000  55000

In [58]:
df.iloc[:,1:3]

          hacim   kisi
il
ankara     1000  45000
maras       700  24000
konya       800  40000
sivas       600  22000
istanbul  20000  55000
İgdİr       500   7000
van         560   3500

In [60]:
df.iloc[1:5, :]

          sİcaklİk  hacim   kisi
il
maras           12    700  24000
konya           24    800  40000
sivas           11    600  22000
istanbul        12  20000  55000

Slice yerine list olarakta alınabilir, ikinci kısma dikkat

In [62]:
df.loc['ankara':'istanbul' ,['hacim','kisi']]

          hacim   kisi
il
ankara     1000  45000
maras       700  24000
konya       800  40000
sivas       600  22000
istanbul  20000  55000

Series 1 boyutlu etiketlenmiş veri iken
Frame ise farklı boyutlarda olabilir.

In [69]:
vv=df.hacim>600  # hacmi 600 den büyük olanları seçtik

In [70]:
df[vv]

          sİcaklİk  hacim   kisi
il
ankara           5   1000  45000
maras           12    700  24000
konya           24    800  40000
istanbul        12  20000  55000

In [71]:
#mantıksal işlemlerde yapılabilir.
df[(df.hacim>600) & (df.kisi>25000)]   # hacmi 600 den büyük ve kisi sayısı 25 000 den fazla olan illeri getir

          sİcaklİk  hacim   kisi
il
ankara           5   1000  45000
konya           24    800  40000
istanbul        12  20000  55000

Verimiz üzerinde işlem yapmak için yeni bir Dataframe oluşturalım. kopyasını alarak

In [73]:
df1=df.copy()

In [78]:
df1['gsüre']=[0,0,50,60,80,'NaN',45]

In [79]:
df1

          sİcaklİk  hacim   kisi gsüre
il
ankara           5   1000  45000     0
maras           12    700  24000     0
konya           24    800  40000    50
sivas           11    600  22000    60
istanbul        12  20000  55000    80
İgdİr           45    500   7000   NaN
van             30    560   3500    45

veri de 0 ve NAN değerlerini ayıklamak gerekir. bu işlemler için

In [85]:
df1.loc[ : , df1.all()]  # 0 içeren tüm kolonu dışarda bırakır

          sİcaklİk  hacim   kisi
il
ankara           5   1000  45000
maras           12    700  24000
konya           24    800  40000
sivas           11    600  22000
istanbul        12  20000  55000
İgdİr           45    500   7000
van             30    560   3500

In [86]:
df1.loc[ : , df1.any()]

          sİcaklİk  hacim   kisi gsüre
il
ankara           5   1000  45000     0
maras           12    700  24000     0
konya           24    800  40000    50
sivas           11    600  22000    60
istanbul        12  20000  55000    80
İgdİr           45    500   7000   NaN
van             30    560   3500    45

In [88]:
df1.dropna(how='any')

          sİcaklİk  hacim   kisi gsüre
il
ankara           5   1000  45000     0
maras           12    700  24000     0
konya           24    800  40000    50
sivas           11    600  22000    60
istanbul        12  20000  55000    80
İgdİr           45    500   7000   NaN
van             30    560   3500    45